@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (hover: hover) {
  .hover-capable\:opacity-0 {
    opacity: 0;
  }
  .group:hover .hover-capable\:group-hover\:opacity-100 {
    opacity: 1;
  }
}

body {
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
